@import url('https://fonts.googleapis.com/css?family=Acme|Montserrat');
:root{
    --btn-bg-color:#5077FF;
    --btn-fg-color:#F1F6FB;
}
/* global */
*{
    box-sizing: border-box;
}
body{
    font: 16px/1.5 'Montserrat', sans-serif; 
   padding: 0;
   margin: 0;
}
.container{
    width: 80vw;
    margin:auto;
}
ul,h3 { 
   padding: 0;
   margin: 0;
}
ul li{ 
    list-style: none;
}
button{
    border: none;
}
/* button */
.btn{
    padding: 10px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.btn-bold{
    color:var(--btn-fg-color);
    background-color:var(--btn-bg-color);
}
.btn-light{
    color:var(--btn-bg-color);
    background-color:white;
    border: .5px solid #5077FF;
}
.nav-link{
    opacity: .5;
    color: black;
    text-decoration: none;
    margin: 10px;
}
.intro .btn{
    margin-right: 10px;
}
.nav-link:hover{
    opacity: 1;
    text-decoration: underline;
}
/* page section */
.header{
    padding-top: 20px;
}
.branding{
    float: left;
}
.navbar{
    float: right;
    padding-right: 20px;
}
.intro-txt-title{
    padding-top: 80px;
    font-family: 'Acme', sans-serif;
}
.intro{
    height: 40vw;
    background: no-repeat url('img/intro.PNG');
    background-position-x: 45vw;

    background-size: contain;
}
.intro-txt{
    width: 40vw;

}
.display-desktop{
    width: 70vw;
    height: 100vh;
    margin: 30px auto;
    background: no-repeat url('/img/Capture.PNG');
    background-attachment: scroll;
    background-origin: content-box;
    background-size: 70vw;
  
}
.feature{
    display: flex;
}
.feat{
    width: calc(100vw/3);
    padding: 50px;
    height: 300px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: all 0.5s;
    -webkit-transform: all 0.5s;
    -moz-transform: all 0.5s;
    -ms-transform: all 0.5s;
    -o-transform: all 0.5s;
}
.feat1,.feat2:hover,.feat3:hover{
    background-color: rgba(100,100,100,0.2);
}
.feat1:hover{
    background-color: rgba(100,100,100,0);
}
.pricing{
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 80px;
}
.price{
    margin: 0px 30px;

}
.price h3,.price ul{
    text-align: center;
}
.price h3,.price ul :first-child{
    color: #5077FF;

}
.price ul :first-child{
    width: 70px;
    margin: auto;

}
.price li :only-child{
    font-size: 30px;
}
.price h3{
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}
.price ul{
    padding: 10px;
}
.price button{
    display: block;
    width: 80%;
    margin: auto;;
}

.price2{
    position: relative;
    top:200px;

}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    margin-top: 60px;
    border-top: .2px solid gray;
}
/*responsiv*/
/*pc*/
/*Phone*/
@media (max-width:620px){
    .intro-txt-title{
        padding-top: 80px;
    }
    .intro{
        height: 40vw;
        background: no-repeat url('img/intro.PNG');
        background-position-x: 45vw;
    
        background-size: contain;
    }
    .intro-txt{
        width: 100%;
    
    }
    .display-desktop{
        width: 100%;
        height: 500px;
        background-origin: content-box;
        background-size: 80vw;
        background-position-y: 200px;
      
    }
    .feature,.pricing{
        display: block;
     }
     .feature * , .pricing *{
         width: 100%;
         margin: auto;
         position: static;
     }
     .pricing,.price{
        margin: 0 auto;
    }

    .price2{
        position: static;
        top:200px;
    
    }
    .footer{
        display: block;
        margin-top:400px;
        overflow: hidden;
    }
    .footer *{
        float: left;
    }
    
}
@media (min-height:621 )and( max-width:860px){
    .display-desktop{
        background-position-y: 200px;
      
    }
    .feat2{
       position: absolute;
       top: -100px;
    }
}
